div.row
	h1 Import
div.row
	div.span2 &nbsp;
	div#loading.alert.alert-info.span7
		a.close(data-dismiss="alert") x
		| Importing bookmarks, please wait...
	div.span2 &nbsp;
div.row
	div.span2 &nbsp;
	div#done.alert.span7
		a.close(data-dismiss="alert") x
		| Done importing bookmarks
	div.span2 &nbsp;

div#report.row
	table.table.table-bordered(style='width:50%;margin:0 auto;')
		thead
			tr
				th Unimported
				th Success
				th Duplicate
				th Error
		tbody
			tr
				td
					span.badge=links.length
				td
					span.badge.badge-success 0
				td
					span.badge.badge-warning 0
				td
					span.badge.badge-error 0

div.row.import-btn
	input.btn.btn-large.btn-primary(type='submit',value='Import Selected Bookmarks',id='import')

div#linkTable.row(style='margin-top:1em')
	table.table.table-bordered.table-striped
		thead
			tr
				th Status
				th Link
		tbody
		- each link in links
			tr(id="link"+link.id)
				td
					span.label Not Imported
				td
					a(href=link.URL,title=link.Title)=link.Title